.eERow2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include respond(tabPort) {
        grid-template-columns: 1fr;
      }
}

.eERow3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.eERow4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
