@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    color: $colorDark;
    font-family: 'Source Sans Pro', sans-serif;
}

p, a, button {
    font-size: 1rem;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    color: $colorDark2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.pageTitle {
    font-size: 2rem;
    margin: 0;
}

.accountPageTitle {
    font-weight: 100;
    font-size: 1rem;
    color: $colorDark5;
    @include respond(phone) {
        margin-top: 1rem;
    }
}

.sectionTitle {
    font-size: 1.2rem;
    font-weight: 600;
}

.sectionTitleSmall {
    font-size: 1rem;
    font-weight: 600;
}
