
.button {
  display: inline-flex;
  border-radius: 5px;
  color: $colorWhite;
  cursor: pointer;
  &.u_fullWidth {
    @include flexCentered;
  }
  a, button {
    color: $colorWhite;
    padding: 0.7rem 3rem;
    text-decoration: none;
  }

  &__primary {
    background: $colorPrimary;
    &:hover {
      background: $colorPrimaryDown1;
    }
    &:active {
      background: $colorPrimaryUp1;
    }
  }
  &__secondary {
    background: $colorWhite;
    border: 1px solid $colorPrimary;
    color: $colorPrimary;
    &:hover {
      background: #E7E5FF;
    }
    &:active {
      background: #E7E5FF;
    }
  }

  &__danger {
    background: $colorDanger;
    &:hover {
      background: $colorDangerDown1;
    }
    &:active {
      background: $colorDangerUp1;
    }
  }

  &__outline {
    background: none;
    color: $colorDark;
    border: 1px solid $colorDark;
    &:hover, &:active {
        color: $colorWhite;
        border: 0;
        a {
            color: $colorWhite;
        }
    }
    &:hover {
        background: $colorDark;
        border: 1px solid $colorDark;
    }
    &:active {
        background: $colorDarkUp1;
    }
    a {
        color: $colorDark;
    }
  }

  &__google {
      background: $colorGoogleRed;
      color: $colorWhite;
      &:hover {
          background: $colorGoogleRedDown1;
      }
      &:active {
          background: $colorGoogleRedDown2;
      }
  }
}
