.eEForm {
  .formGroup {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $colorDark4;
    position: relative;
    &:not(:first-child) {
      border-top: unset;
    }
    &:last-of-type {
      margin-bottom: 2rem;
    }
    label {
      position: absolute;
      font-size: 0.9rem;
      top: 1rem;
      left: 0.85rem;
    }
    input {
      border: 5px solid transparent;
      outline: unset;
      font-size: 1rem;
      font-weight: 400;
      height: 80px;
      padding: 2rem .5rem 0rem 0.5rem;
      color: $colorPrimary;
      &::placeholder {
        color: $colorDark4;
      }
      &:focus,
      &:active {
      border-right: 5px solid $colorPrimary;
      }
    }
  }
  .auth-buttons {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    a {
      text-decoration: none;
      color: $colorPrimary;
    }
    .button__primary {
      box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    }
  }
  .singleColumnFormGroup {
    margin-top: 2rem;
  }
  
  
  button {
    // background: $colorPrimary;
    margin-bottom: 2rem;
  }
  &__row {
    .eERow2 {
      grid-gap: $gutterGap;
      grid-row-gap: $gutterGap2;
    }
    .formGroup {
      &:last-of-type {
        margin-bottom: 0;
      }
      &:not(:first-child) {
        border-top: 1px solid $colorDark4;
      }
    }
  }
  &__account {
    .buttonWrapper {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      &__group {
        justify-content: space-between;
        .right > *:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
    .button {
      padding: 1rem 2rem;
      border-radius: 0;
      font-size: 1rem;
      font-weight: 100;
      margin-bottom: 0;
    }
  }

  .col-sm-3 {
    .small {
      color: $colorDark5;
    }
    .small + p {
      font-size: 1.2rem;
    }
  }
  .with-divider {
    border-bottom: 1px solid $colorDark4;

    .button {
      transition: 0.5s;
      border: 1px solid $colorPrimary;
      background: white;
      color: $colorPrimary;

      &:hover {
        color: white;
        background: $colorPrimary;
      }
    }
  }
}
