.icon {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    // background: blue;

    &__forward {
        background: url('/icons/right.svg') center center no-repeat;
    }

    &__google {
        background: url('/icons/social/google.svg') center center no-repeat;
    }

    &__dashboard {
        background: url('/icons/dashboard.svg') center center no-repeat;
    }

    &__receipt {
        background: url('/icons/receipt.svg') center center no-repeat;
    }

    &__expense {
        background: url('/icons/expense.svg') center center no-repeat;
    }

    &__expense_report {
        background: url('/icons/expense_report.svg') center center no-repeat;
    }

    &__settings {
        background: url('/icons/settings.svg') center center no-repeat;
    }
}
