.authWrapper {
  background: $colorSecondary;
  display: flex;
  margin: auto;
  min-height: 100vh;
  @include respond(phone) {
    background: $colorWhite;
  }

  main {
    width: calc(100%/3);
    background: $colorWhite;
    margin: auto;
    border-radius: $border-radius;
    padding: 2rem;
    box-sizing: border-box;
    &.recoveryWrapper {
      width: calc(100% * (2/5));
      @include tempWrapperSize;
    }
    @include tempWrapperSize;
  }

  .brand {
    margin: 1.5rem 0rem;
  }

  button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $colorWhite;
    padding: 0.9rem;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    &.button__secondary {
      color: $colorPrimary;
    }
  }
}

.pageContent {
  margin-bottom: 2rem;
  h1 {
    margin-bottom: 1rem;
  }
  p {
    margin: 0;
    font-size: 0.9rem;
    color: $colorDark3;
  }
}

.eEForm {
  .formGroups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    .checkBoxGroup {
      display: flex;
      flex-direction: row-reverse;
      input[type="checkbox"] {
        margin-left: 0;
      }
    }
  }
}

.socialSignup {
  button {
    span {
      margin-right: 1rem;
    }
  }
}

.toggleAuthPage {
  text-align: center;
  p, a {
    font-size: 0.9rem;
  }
  a {
    text-decoration: none;
    color: $colorPrimary;
  }
}
