.homepageWrapper {
  padding: 2rem;
  padding-top: 2rem;
  @include respond(phone) {
    padding: 1rem;
  }
}

.hero {
  background: $colorSecondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $border-radius;
  padding: 4rem;
  margin-top: 7rem;
  margin-bottom: 10rem;
  @include respond(tabPort) {
    padding: 2rem;
    flex-direction: column;
    margin-bottom: 4rem;
    .hero__left {
      width: 100%;
      order: 1;
      text-align: center;
    }
    .hero__right {
      width: 100%;
      position: relative;
      margin-top: -11rem;
      left: 0;
      justify-content: center;
      svg {
        width: 70%;
      }
    }
  }
  @include respond(phone) {
    margin-top: 7rem;
    .hero__right {
      width: 100%;
      svg {
        width: 100%;
      }
    }
    .hero__left {
      transform: translateY(-20px);
    }
  }

  &__left {
    width: 40%;
    h1 {
      font-size: 2.4rem;
      margin-bottom: 3rem;
      @include respond(phone) {
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    a {
      display: inline-flex;
      align-items: center;
      font-size: 1rem;
      padding: 0 3rem 1rem 0; //increase the clickability of this link
      span {
        margin-left: 0.5rem;
      }
      @include respond(phone) {
        padding: 0;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 3rem;
    @include respond(tabLand) {
      width: 50%;
    }
    svg {
      @include respond(phone) {
        width: 30rem !important;
        height: 30rem;
      }
    }
  }
}

.benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    &__item {
      background: $colorPrimaryDown8;
      padding: 1.2rem;
      border-radius: $border-radius;
      h3 {
        font-size: 1.4rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    @include respond(tabPort) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
    }
}
