.accountWrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  header.u_section {
    display: none;
    @include respond(phone) {
      display: block;
    }
  }
  &__main {
    margin-left: 15%;
    background: #F8F8FF;
    flex: 1;
    padding: 4rem;
    padding-top: 2.4rem;
    padding-bottom: 10rem;
    form {
      > .buttonWrapper {
        @include respond(phone) {
          width: 100%;
          button {
            width: 100%;
            @include flexCentered;
          }
        }
      }
    }
    @include respond(tabLand) {
      width: 100%;
      margin-left: 0;
    }
    @include respond(phone) {
      padding: 2rem;
    }
  }
  .pageTitle {
    font-weight: 600;
  }
  .sectionTitle {
    margin-bottom: 0.25rem;
  }
  .sectionTitle + p {
    color: $colorDark5;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .settingsTitle {
    margin-bottom: 2rem;
  }
  .divider {
    border-top: 1px solid $colorDark4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;

    p {
      background: #F8F8FF;
      display: inline-block;
      color: $colorDark5;
      text-align: center;
      position: relative;
      bottom: 16px;
      padding: 5px 20px;
      margin: 0;
    }
  }
  .remove_member .ReactTags__tagInput {
    display: none;
  }
}
