header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .brand {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 36px;
    padding-bottom: 16px;
    justify-content: space-between;
  }
  nav {
    .authLinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      @include respond(phone) {
        display: none;
      }
      list-style: none;
      .primary-link {
        background-color: $colorPrimary;
        border-radius: 3px;
        margin-left: 1rem;
        border: 1px solid $colorPrimary;
        a {
          color: $colorWhite;
        }
      }
      .secondary-link {
        background-color: $colorWhite;
        border-radius: 3px;
        margin-left: 1rem;
        border: 1px solid $colorPrimary;
        a {
          color: $colorPrimary;
        }
      }
      a {
        display: inline-block;
        padding: 1rem 2rem;
        text-decoration: none;
        min-width: 120px;
        text-align: center;
      }
    }
  }

  @include respond(phone) {
    position: absolute;
    background: $colorWhite;
    width: 100%;
    height: 64px;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 1;
    box-shadow: $primaryShadow;
  }
}
