.u_section {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
  @include respond(phone) {
    padding-bottom: 0;
  }
}

.u_card {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background: $colorWhite;
  padding: 2rem 3rem;
}

.u_fullWidth {
  width: 100%;
}

/* Example Styles for React Tags*/
div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 180px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 1.8rem;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 10px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  color: #6C63FF;
  font-size: 15px;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 10px;
}
div.ReactTags__selected a.ReactTags__remove {
  font-size: 13px;
  color: white;
  background: #FF1414;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 50%;
  padding: 1px 6px;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

// hamburger menu
/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  position: absolute;
  width: 36px;
  height: 20px;
  right: 20px;
  top: 20px;
  z-index: 1000;
  @include respond(phone) {
      display: flex;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #1b1e27;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;

  a {
    display: block;
    color: white;
    margin: 20px 0;
  }
  a.m-b-lgg {
    margin-bottom: 50px;
  }
}

/* Individual item */
.bm-item {
  display: inline-block;

  &:focus {
    outline: 0;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
