// Colors
$colorDarkUp1: #3e3e3e;
$colorDark: #4D4D4D;
$colorDark2: #5C5C5C;
$colorDark3: #767676;
$colorDark4: #C4C4C4;
$colorDark5: #7B7B7B;
$colorDark6: #E0E0E0;

$colorPrimaryUp1: #6159e6;
$colorPrimary: #6C63FF;
$colorPrimaryDown1: #7b73ff;
$colorPrimaryDown2: #8982ff;
$colorPrimaryDown8: #E2E0FF;
$colorNav: #F2F1FF;

$colorSecondary: #FFE957;

$colorBlack70: rgba($color: #000000, $alpha: 0.7);

$colorWhite: #FFFFFF;

$colorDangerUp1: #cc1010;
$colorDanger: #FF1414;
$colorDangerDown1: #ff4343;

$colorGoogleRed: #DD4B39;
$colorGoogleRedDown1: #e05d4d;
$colorGoogleRedDown2: #e46f61;

// Measurement
$border-radius: 5px;
$borderRadiusHalf: 0.5rem;

// Grid
$gutterGap: 0.5rem;
$gutterGap2: 1rem;

// Shadow
$primaryShadow: 0 0 4px rgba(0, 0, 0, 0.1);
